<div>
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="mb-0">Team</h2>
    </div>
    <div class="col">
      <span class="team-score">Score: {{team.score.value}}</span>
    </div>
    <div class="col-auto">
      <mat-button-toggle-group #displayToggle="matButtonToggleGroup" (click)="onDisplayChange(displayToggle.value)">
        <mat-button-toggle [value]="availableDisplays.Team">
          <mat-icon>account_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="availableDisplays.Chart">
          <mat-icon>bubble_chart</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row mt-3" *ngIf="display === availableDisplays.Team">
        <div class="col-sm-6 col-md-4 col-lg-3 col-12" *ngFor="let employee of team.teamMembers">
          <app-team-member class="w-100 p-1" [employee]="employee"></app-team-member>
        </div>
      </div>
      <div class="row mt-3" *ngIf="display === availableDisplays.Chart">
        <relation-wheel class="w-100"></relation-wheel>
      </div>
    </div>
  </div>
</div>
<hr />
