<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Zühlke A-Team Generator</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <app-filters [selectedFilters]="filters" (filtersChanged)="onFilterChanged($event)"></app-filters>
    </div>
  </div>
  <div class="row fixed-top" *ngIf="isLoading">
    <div class="col">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-team-list [teamsResults]="teamsResults"></app-team-list>
    </div>
  </div>
  <app-a-team-audio [play]="playTheme"></app-a-team-audio>
</div>
